<div class="container">
  <% @questions.each do |question|%>
  <div class="individual-question">
    <h4><a href="/questions/<%= question.id%>"><%= question.title %></a></h4>
    <p>Created by: <%= question.user.name %>, On: <%= question.created_at %></p>
    <span><%= question.votes.count %> votes</span>
  </div>
    <% end %>
</div>
