<div class="container">
  <div class="questions-container">
   <%= erb(:"/partials/_vote-buttons", locals: {votable_thing: @question}) %>
  <div class="individual-question">
    <h4><%= @question.title %></h4>

    <p>Created by: <%= @question.user.name %>, On: <%= long_form_date(@question.created_at) %></p>
    <p><%= @question.content %></p>
    </div>
    <% if @question.comments.count > 0 %>
    <div class="comments-container">
      <% @question.comments.each do |comment| %>
        <%= erb :"comments/_comment_show", locals: {comment: comment} %>
      <% end %>
    </div>
    <% end %>

  </div>


    <% @question.answers.each do |answer|  %>
    <div class="answers-container">
    <%= erb(:"/partials/_vote-buttons", locals: {votable_thing: answer}) %>
    <div class="individual-answer">
      <p><%= answer.content %></p>
      <p>Answered by: <%= answer.user.name %>, On: <%= long_form_date(answer.created_at) %></p>
      <% if answer.comments.count > 0 %>

        <% answer.comments.each do |comment| %>
        <div class="comments-container">
          <%= erb :"comments/_comment_show", locals: {comment: comment} %>
          </div>
        <% end %>

      <% end %>

    </div>
    </div>
    <% end %>


</div>
