<div class="container">
  <div class="questions-container">
    <%= erb(:"/partials/_vote-buttons", locals: {votable_thing: @question}) %>
    <div class="individual-question">
    <h4><%= @question.title %></h4>

    <p>Created by: <%= @question.user.name %>, On: <%= long_form_date(@question.created_at) %></p>
    <p><%= @question.content %></p>
    </div>
    <% if @question.comments.count > 0 %>
    <div class="comments-container">
      <% @question.comments.each do |comment| %>
        <%= erb :"comments/_comment_show", locals: {comment: comment} %>
      <% end %>

    </div>
    <% end %>
        <% if logged_in? %>
          <a href="/questions/<%= @question.id %>/comments/new">Give your opinion on this stupid question.</a>
        <% end %>


  </div>

  <% if logged_in? %>
    <a href="/questions/<%= @question.id %>/answers/new">Talk some smack!</a>
  <% end %>

    <% @question.answers.each do |answer|  %>

    <div class="answers-container">
      <%= erb(:"/partials/_vote-buttons", locals: {votable_thing: answer}) %>

      <div class="individual-answer">

      <% if answer == @question.best_answer %>
        <p> 💯 💯 💯 💯 💯 💯 💯 OMG BEST ANSWER 💯 💯 💯 💯 💯 💯 💯 </p>
      <% end %>

      <p><%= answer.content %></p>
      <p>Answered by: <%= answer.user.name %>, On: <%= long_form_date(answer.created_at) %></p>

      <% if answer.comments.count > 0 %>
        <% if logged_in? && owner?(@question) %>
          <form class="best-answer-button" method="POST" action="/answers/<%= answer.id %>/questions/<%= @question.id %>">
            <input type="hidden" name="_method" value="put">
            <input type="submit" value="Mark as best">
          </form>
        <% end %>

          <% answer.comments.most_popular.each do |comment| %>
            <div class="comments-container">
            <%= erb :"comments/_comment_show", locals: {comment: comment} %>
            </div>
          <% end %>
      <% end %>

      </div>

      <% if logged_in? %>
        <a href="/answers/<%= answer.id %>/comments/new">Talk about this smack.</a>
      <% end %>

    </div>
    <% end %>

</div>
